{{ if in .Permalink "glossar" }}
<aside>
    {{ .TableOfContents }}
</aside>
{{ end }}
<article id="page-undefined" class="article article-type-page" itemscope="" itemprop="blogPost">
    <div class="article-inner">
        {{ if and (isset .Params "banner") (not (eq .Params.banner "")) }}
            <img src="{{ .Params.banner | absURL }}" class="article-banner">
        {{ end }}
        {{ partial "article_header" . }}
        <div class="article-entry" itemprop="articleBody">
            {{ .Content }}
        </div>
        {{ partial "article_footer" . }}
    </div>

    {{ partial "prev_next_post" . }}
</article>

{{ if and (.Params.issue) (not .Params.disable_comments) }}
<section id="comments">
    <input id="metadata_issue" style="display: none" value="{{ .Params.issue }}">
    <h4>{{i18n "articles-comments"}}</h4><br/>
    <div id="github_comments">
    </div>
</section>
{{ end }}